**/bin/
**/obj/
server/Odysseum.Server/wwwroot/
workspace/
/projects/
data/
.test-data/
test-results/
playwright-report/
.cache/
.env
*.user
*.log
server-settings.json
server/Odysseum.Server/webui/
/webui.zip
